<!---------------------------------------------------->  
<!--                     Footer                     -->  
<!----------------------------------------------------> 
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-172036683-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-172036683-1');
    </script>

    <footer class="footer">
        <div class="container">
            <div class="columns">
              <div class="column is-3 is-offset-2">
              <ul>
                <li><span class="tag is-warning">Social Media</span></li>
                <li><span class="icon-footer"><a href="{{ site.facebook }}"><i class="fab fa-facebook-square"></i>Facebook</a></span></li>
                <li><span class="icon-footer"><a href="{{ site.instagram }}"><i class="fab fa-instagram"></i>Instagram</a></span></li>
                </ul>
              </div>
              <div class="column is-3">
                <ul>
                    <li><span class="footer-link"></span><a href="https://donorbox.org/fund-our-summer-program">Donate</a></span></li>
                    <li>Volunteer</li>
                </ul>
              </div>
            </div>
          </div>
          <div>
              <div class="content has-text-centered">
                  <div class="control level-item">
                      <a href="#"><image src="{{ site.url }}{{ site.baseurl }}/assets/images/logo.png" class="image" height="32" width="32"></a><br>
                          <div class="tags has-addons">
                              <span class="tag is-dark">Cohealing</span>
                              <span class="tag is-info">Copyright 2020.</span>
                          </div>
                      </a>
                  </div>
              </div>
          </div>
    </footer>


    <!-- Begin Footer -->
    <div class="footer">
       
    </div>
      <!-- End Footer -->
  
    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
    <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
    <script>
        AOS.init({
          easing: "ease-out",
          duration: 800,
        });
    </script>