<!---------------------------------------------------->  
<!--                     Footer                     -->  
<!----------------------------------------------------> 
    <!-- Global site tag (crisp.js) - Website Messaging -->
    <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="4d8dd747-7a42-4e7a-9752-88948f645cee";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '');
    </script>

    <footer class="footer">
        <div class="container">
          <div class="columns">
            <div class="column is-6 is-offset-2">
            <ul>
              <li><span class="tag is-warning">Social Media</span></li>
              <li><span class="icon-footer"><a href="{{ site.facebook }}"><i class="fab fa-facebook-square"></i>Facebook</a></span></li>
              <li><span class="icon-footer"><a href="{{ site.instagram }}"><i class="fab fa-instagram"></i>Instagram</a></span></li>
              </ul>
            </div>
            <div class="column is-6">
              <ul>
                  <li><span class="footer-link"></span><a href="https://donorbox.org/fund-our-summer-program">Donate</a></span></li>
                  <li>Volunteer</li>
              </ul>
            </div>
          </div>
        </div>
        <div>
            <div class="content has-text-centered">
                <div class="control level-item">
                    <a href="#"><image src="{{ site.url }}{{ site.baseurl }}assets/images/logo-title.png" class="image" height="32" width="32"></a><br>
                        <div class="tags has-addons">
                            <span class="tag is-dark">Cohealing</span>
                            <span class="tag is-info">Copyright 2020.</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </footer>