    <!-- Begin Preloader -->
    <div class="preloader-wrapper">
        <div class="preloader">
          <img src="{{site.url}}{{site.baseurl}}/assets/images/preloader.gif" alt="" />
        </div>
      </div>
      <!-- End Preloader-->
      <!-- Begin Scroll Up Button -->
  
      <form action="#home">
        <button id="toTop" title="Go to top">
          <i class="fas fa-angle-up"></i>
        </button>
      </form>
      <!-- End Scroll Up Button -->
  
      <!-- Begin Header -->
      <div class="header-wrapper" id="home">
        <!-- Begin Hero -->
        <section class="hero is-large">
          <!-- Begin Mobile Nav -->
          <nav class="navbar is-transparent is-hidden-desktop">
            <!-- Begin Burger Menu -->
            <div class="navbar-brand">
              <a class="navbar-item" href="{{site.url}}{{site.baseurl}}">
                    <img src="{{site.url}}{{site.baseurl}}/assets/images/logo-title.png" alt="Do no harm">
                    <title class="navbar-item" href="{{site.url}}{{site.baseurl}}"></title>
              </a>
              <div class="navbar-burger burger" data-target="mobile-nav">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
            <!-- End Burger Menu -->
            <div id="mobile-nav" class="navbar-menu">
              <div class="navbar-end">
                <div class="navbar-item">
                  <a class="navbar-item" href="#home">
                    Home
                  </a>
                </div>
                <div class="navbar-item">
                  <a class="navbar-item" href="#about">
                    About
                  </a>
                </div>
                <div class="navbar-item">
                  <a class="navbar-item" href="#classes">
                    Classes
                  </a>
                </div>
                <div class="navbar-item">
                  <a class="navbar-item" href="#coaches">
                    Coaches
                  </a>
                </div>
                <div class="navbar-item">
                  <a class="navbar-item" href="https://medium.com/cohealing" target="_blank">
                    Blog
                  </a>
                </div>
                <div class="navbar-item">
                  <a class="navbar-item" href="#contact">
                    Contact
                  </a>
                </div>
              </div>
            </div>
          </nav>
          <!-- End Mobile Nav -->
          <!-- Begin Hero Content-->
          <div class="hero-body" style="padding-bottom: 1.5 rem !important;">
            <div class="container has-text-centered">
              <div>
                  <image style="display: unset !important;" src="{{ site.url }}{{ site.baseurl }}/assets/images/logo.png" class="image" height="288" width="288">
              </div>

              <!-- You can customize this button any way you like -->
              <div class="container has-text-centered">
                <a href="https://www.eventbrite.com/e/cohealing-retreat-embrace-yourself-in-troubledtimes-tickets-121642527073"type="button" class="button is-medium is-primary is-signup">Sign-Up for Cohealing Retreat</a>
              </div>
              <!--
              <script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>
              
              <script type="text/javascript">
                  var exampleCallback = function() {
                      console.log('Order complete!');
                  };
              
                  window.EBWidgets.createWidget({
                      widgetType: 'checkout',
                      eventId: '121642527073',
                      modal: true,
                      modalTriggerElementId: 'eventbrite-widget-modal-trigger-121642527073',
                      onOrderComplete: exampleCallback
                  });
              </script>
            -->
          </div>

          <!-- End Hero Content-->
          <!-- Begin Hero Menu -->
          <div class="hero-foot ">
            <div class="hero-foot--wrapper">
              <div class="columns">
                <div class="column is-12 hero-menu-desktop has-text-centered">
                  <ul>
                    <li class="is-active">
                      <a href="#home">Home</a>
                    </li>
                    <li>
                      <a href="#about">About</a>
                    </li>
                    <li>
                      <a href="#retreat">Retreat</a>
                    </li>
                      <a href="#classes">Classes</a>
                    </li>
                    <li>
                      <a href="#coaches">Coaches</a>
                    </li>
                    <li>
                      <a href="https://medium.com/cohealing" target="_blank">
                        Blog
                      </a>
                    </li>
                    <li>
                      <a href="#contact">Contact</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- End Hero Menu -->
        </section>
        <!-- End Hero -->
      </div>
      <!-- End Header -->