<!DOCTYPE html>
<html>
    {% include head.html %}
  <body>
       <!-- Begin Preloader -->
       <div class="preloader-wrapper">
        <div class="preloader">
          <img src="img/preloader.gif" alt="" />
        </div>
      </div>
      <!-- End Preloader-->
      <!-- Begin Scroll Up Button -->
  
      <form action="#home">
        <button id="toTop" title="Go to top">
          <i class="fas fa-angle-up"></i>
        </button>
      </form>
      <!-- End Scroll Up Button -->

      
    {% include navbar.html %}
  
    {{content}}

    {% include footer.html %}

    <script src="../assets/js/main.js"></script>
  </body>
</html>